# macOS
.DS_Store

# Xcode
*.xcworkspace
*.xcodeproj
xcuserdata/
DerivedData/
*.xcuserstate

# Swift Package Manager
.build/
Packages/
.swiftpm/

# SwiftPM binary artifacts
Artifacts/

# Logs
*.log

# IDEs
.idea/
.vscode/

# Misc
*.swp
